<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<p>
    <a target="_blank" href="https://github.com/jmorentin">Justin</a> has only recently created his first web application where other people can leave a footprint on Justins career.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Morentin</h2>
      <br />
      <p>
        Justin is a web developer working to obtain and use new skills every week.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
